# Binaries for Go
*.exe
*.dll
*.so
*.dylib

# Compiled object files
*.o

# Go module cache and build cache
.cache/
pkg/


# Test results
test.out

# IDE-specific files (common for Go development)
.idea/
.vscode/

# JavaScript and Map files compiled from TypeScript
*.js
*.js.map

# Node modules
node_modules/

# TypeScript declaration files (if generated and not meant for version control)
*.d.ts

# Build output directories
dist/
build/

# Log files
*.log

# IDE-specific files (common for TypeScript development)
.vscode/
.idea/

DS_Store